[Desktop Entry]
Name=MCCompanion
Comment=A Minecraft companion app
Exec=MCCompanion
Icon=com.mccorg.MCCompanion
Type=Application
Categories=Game;
StartupNotify=true
