[Desktop Entry]
Name=MCCompaniona
Comment=A Minecraft companion app
Exec=MCCompanion
Icon=net.mccompanion.MCCompanion
Type=Application
Categories=Game;
StartupNotify=true
